<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>bookmark</title>
</head>

<body>
    <form action="/">
        <label>统计方法：</label>
        <select name="stat">
            {{ $selected := .Query.Stat }}
            {{ range $value, $label := .StatOpts }}
            <option value="{{ $value }}" {{ if eq $value $selected}} selected {{ end }}> {{ $label }}</option>
            {{ end }}
        </select>

        <label>名称：</label>
        <input type="text" name="name" value="{{ .Query.Name }}">

        <label>网址：</label>
        <input type="text" name="url" value="{{ .Query.URL }}">

        <label>目录：</label>
        <input type="text" name="folder" value="{{ .Query.Folder }}">

        <input type="submit" value="Submit">
    </form>


    total: {{ .Stats.Count }}<br />
    {{range .Stats.Groups}}
    -> {{ .Group }} {{ .Count }}<br />
    {{ range .Entries }}
    {{ .Name }} {{ .URL }}<br />
    {{ end }}
    {{end}}
</body>